/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&family=Poppins:wght@400;500;700;900&display=swap');

:root {
    --text-color: hsl(36deg 17% 77%);
    --text-color-opacity: hsl(36deg 17% 77% /50%);
    --background-color: hsl(204deg 44% 13%);
    --background-color-opacity: hsl(204deg 44% 13% /50%);
    --link-color: hsl(192deg 84% 65%);
    --link-color-opacity: hsl(192deg 84% 65% /50%);
}

/* semantic color variables for this project */
:root {
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

html {
    font-size: 20px;
}

body {
    min-height: 100vh;
    transition: all 0.5s;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.4;
    letter-spacing: .03rem;
    font-family: 'Noto Sans JP', 'Poppins', sans-serif, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

h1, .text-h1, h2, .text-h2, h3, .text-h3,
h4, .text-h4, h5, .text-h5, h6, .text-h6 {
    margin: 20px 4px 0px 4px;
}

.text-body1, .text-body2 {
    margin: 0px 4px 20px 4px;
}

.text-body2 {
    font-weight: 100;
}

h1, .text-h1 {
    font-size: 3.2rem;
    line-height: 1.2;
}

h2, .text-h2 {
    font-size: 2rem;
}

h3, .text-h3 {
    font-size: 1.8rem;
}

h4, .text-h4 {
    font-size: 1.6rem;
}

h5, .text-h5 {
    font-size: 1.4rem;
}

h6, .text-h6 {
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
