@import './base.css';

#app {
    margin: 0 auto;
}

header, footer
.content-full {
    max-width: 2900px;
}

.content {
    max-width: 1900px;
}
.content-full {
    max-width: 2900px;
    margin: 0px;
}
.m-auto{
    margin:auto;
}
.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a.active,
a {
    color: var(--link-color);
    transition: all 0.1s cubic-bezier(.68, -0.55, .27, 1.55);
    cursor: pointer;
    padding: 0px 8px;
}
a:hover,
a.active {
    background-color: var(--link-background-color-opacity);
}

.wrap-center {

}

.bg-glass-primary{
    background-color: var(--background-color-opacity);
    backdrop-filter: blur(7px);
}
.bg-glass-secondary{
    background-color: var(--text-color-opacity);
    backdrop-filter: blur(7px);
}
.bg-glass-accent{
    background-color: var(--link-color-opacity);
    backdrop-filter: blur(7px);
}

.bg-glass{
    backdrop-filter: blur(7px);
}

.bg-glass--slim{
    backdrop-filter: blur(2px);
}

.bg-glass--fat{
    backdrop-filter: blur(12px);
}



@media (hover: hover) {
    a:hover {
        background-color: var(--link-background-color-opacity);
    }
}

main {
    display: flex;
    flex-wrap: wrap;
}


footer {
    min-height: 6vh;
}

main,
section {
    min-height: 90vh;
}
section {
    padding: 32px 0px ;
    margin-bottom: 32px;
    margin-top: 32px;
}
.section-card{
    align-self: first baseline;
    flex: 1 0 100%;
    position: relative;
    top: 0;
    width: 100%;
}

.main-content{
    padding-left: 0px;
    max-width: 800px;
}
.simplebar-scrollbar::before {
    background-image: linear-gradient(-131deg, rgb(231, 176, 43) 0%, rgb(193, 62, 81) 100%);
}
@media only screen and (min-width:820px){
    .section-card{
        position: sticky;
        width: 100%;
        flex: 1 0 50%;
    }
}